<a href="http://deeplocal.com"><img src="/images/ribbon.png" id="ribbon" /></a>
<div id="homecontent">
<h1><a href="/"><img src="images/title.png" /></a></h1>
<div id="video-wrap">
	<div id="video">
		<iframe src="http://player.vimeo.com/video/27306231" width="622" height="355" frameborder="0" bgcolor="#cccccc"></iframe>
	</div>
</div>

<div id="actions">
<a href="/lights/new/<%- code %>" class="new"><img src="/images/start.png" /></a>
<img src="/images/or.png" class="or"/>
<a href="#" id="join"><img src="/images/join.png"/></a>
</div>
<img src="/images/bar.png" class="bar" />

<div class="join clearfix" style="display: none;" id="prompt">
	<input type="text" id="theid" value="Enter Code" /><a href="#" id="join_action"><img src="/images/join_iphone_action.png" /></a>
	<img src="/images/bar.png" class="bar" />
</div>

<div class="how">
	<img src="/images/works.png" />
</div>

<div class="ex">
	"Deck The Screens" is a fun little holiday app from the folks at <a href="http://deeplocal.com">Deeplocal</a>.  It lets you string holiday lights between all of your screens.  Just create a new set of lights, share your code
	with some friends or co-workers (it works best if everyone is in the same physical location), and watch the lights go.  We put this together in a hurry as a fun excuse to play with some new technologies so, if you run into any trouble, just let us know.  Or, if you like what you see and want to know more about us, definitely <a href="http://www.deeplocal.com/#contact">let us know</a>.
</div>
</div>

