<div id="homecontent">
<h1><a href="/"><img src="images/title.png" /></a></h1>
<div id="video">
	<iframe src="http://player.vimeo.com/video/27306231" width="622" height="355" frameborder="0" bgcolor="#cccccc"></iframe>
</div>

<div id="actions">
<a href="/lights/new/<%- code %>"><img src="/images/start.png" /></a>
<img src="/images/or.png" class="or"/>
<a href="#" id="join"><img src="/images/join.png"/></a>
</div>
<img src="/images/bar.png" class="bar" />

<div class="join clearfix" style="display: none;" id="prompt">
	<input type="text" id="theid" value="Enter Code" /><a href="#" id="join_action"><img src="/images/join_iphone_action.png" /></a>
	<img src="/images/bar.png" class="bar" />
</div>

<div class="how">
	<img src="/images/works.png" />
</div>

</div>

<!-- div class="home clearfix">
	<h1>The Deeplocal Holiday Light Thing</h1>
	<p>Here's some intro text</p>
	<div class="video">Here is a video</div>
	<div class="form">
		<a href="/lights/new/<%- code %>">Create a new Strand</a>
		<br /><br />or, join an existing strand:<br />
		<input type="text" value="" id="value"/><input type="submit" value="join" id="join"/>	
	</div>
</div -->


<!--div class="new">
<br /><br />
<a href="/lights/new/<%- code %>">Create a new Strand</a>
<br /><br />or, join an existing strand:<br />
<input type="text" value="" id="value"/><input type="submit" value="join" id="join"/>
</div-->
