
<div class="home clearfix">
	<h1>The Deeplocal Holiday Light Thing</h1>
	<p>Here's some intro text</p>
	<div class="video">Here is a video</div>
	<div class="form">
		<a href="/lights/new/<%- code %>">Create a new Strand</a>
		<br /><br />or, join an existing strand:<br />
		<input type="text" value="" id="value"/><input type="submit" value="join" id="join"/>	
	</div>
</div>


<!--div class="new">
<br /><br />
<a href="/lights/new/<%- code %>">Create a new Strand</a>
<br /><br />or, join an existing strand:<br />
<input type="text" value="" id="value"/><input type="submit" value="join" id="join"/>
</div-->
