<a href="http://deeplocal.com"><img src="/images/ribbon.png" id="ribbon" /></a>


<div id="homecontent">
<h1><a href="/"><img src="/images/title.png" /></a></h1>


<div id="video-wrap">
	<div id="video">
	  <iframe src="http://player.vimeo.com/video/33297204" width="622" height="355" frameborder="0" bgcolor="#cccccc"></iframe>
	</div>
</div>




<div id="actions">
<a href="/lights/new/<%- code %>" class="new"><img src="/images/start.png" /></a>
<img src="/images/or.png" class="or"/>
<a href="#" id="join"><img src="/images/join.png"/></a>
</div>
<img src="/images/bar.png" class="bar" />

<div class="join clearfix" style="display: none;" id="prompt">
	<input type="text" id="theid" value="Enter Code" /><a href="#" id="join_action"><img src="/images/join_iphone_action.png" /></a>
	<img src="/images/bar.png" class="bar" />
</div>

<div id="share">
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Deck The Screens turns your devices into the most expensive holiday lights in the world!" data-count="horizontal" data-via="deeplocal">Tweet</a>
	<div class="fb-like" data-href="http://deckthescreens.com" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>	
</div>

<div class="how">
	<img src="/images/works.png" />
</div>


<div class="ex">	
	<p>
	"Deck the Screens" (<a href="http://twitter.com/deckthescreens">@DeckTheScreens</a>) was built by <a href="http://deeplocal.com">Deeplocal</a>. The app lets you string holiday lights between your device screens. Just create a new string of lights, share your code with friends or co-workers (it works best if everyone is in the same physical location), and watch the lights blink. 
	</p>
	<br />
	<p>
	We put this app together in a hurry so if you run into any trouble, bear with us. If you like what you see and want to know more about us, <a href="http://www.deeplocal.com/#contact">drop us a line</a>.	
	</p>
	
</div>
</div>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>