<div class="form">
	<a href="/lights/new/<%- code %>">Create a new Strand</a>
	<br /><br />or, join an existing strand:<br />
	<input type="text" value="" id="value"/><input type="submit" value="join" id="join"/>	
</div>