<h1><a href="/"><img src="/images/title_iphone.png" /></a></h1>
<div class="form">
	<a href="/lights/new/<%- code %>"><img src="/images/start_iphone.png" /></a>
	<img src="/images/or_iphone.png" class="or"/>
	<a href="#" id="join"><img src="/images/join_iphone.png"/></a>
	<div id="prompt" style="display: none;">
		<input type="text" id="theid" value="Enter Code"  pattern="[0-9]*" /><a href="#" id="join_action"><img src="/images/join_iphone_action.png" /></a>
	</div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />