body {
   font-family:Arial;
   background: #333333 url(/images/top_banner_iphone.png) no-repeat;
}

div.form {
	margin: 65px auto 0 auto;
	text-align: center;
}

h1 {
	margin: 8px;
}

img.or {
	margin: 0 15px;
}

div#prompt {
	margin: 20px 0 0 0;
}

input#theid {
	width: 100px;
	font-size: 1.1em;
	display: block;
	float: left;
	margin: 0 0 0 140px;
}

div#prompt img {
	display: block;
	float: left;
	margin: 3px 0 0 20px;
}