body {
   font-family:Arial;
   background: #cccccc url(/images/top_banner_iphone.png) no-repeat;
}

div.form {
	margin: 50px auto 0 auto;
	text-align: center;
}

h1 {
	margin: 12px;
}

img.or {
	margin: 0 15px;
}

div#prompt {
	margin: 20px 0 0 0;
}

input#theid {
	width: 100px;
	font-size: 1.2em;
	display: block;
	float: left;
	margin: 0 0 0 140px;
	text-align: center;
}



div#prompt img {
	display: block;
	float: left;
	margin: 1px 0 0 20px;
}

div#prompt img.thebar {
	display: block;
	margin: 20px auto;
	width: 380px;
	float: none;
}

a#dl {
	display: block;
	width: 80px;
	height: 100px;
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}