html {
   font-family:Arial;
   background: #cccccc url(/images/top_banner.png) repeat-x;
}

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

strong em,
em strong {
	font-weight:bold;
	font-style:italic;
}


.new {
	width: 200px;
	float: left;
}

.home {
	width: 800px;
	margin: 40px auto;
	background: #fff;
	padding: 20px;	
}

h1 {
	font-size: 2em;
	margin: 0 0 10px 0;
}

div#video {
	width: 676px;
	height: 406px;
	margin: 150px auto 0 auto;
	padding: 11px 0 0 22px ;
	background: url(/images/video_block.png) no-repeat;
}

img.bar {
	width: 845px;
	margin: 10px auto;
	display: block;
}

/* Clearfix */

.clearfix:after {
	content:".";
	display:block;
	height:0;
	font-size:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	*zoom:1;
}